BASE_URL=http://3.233.211.103
MONGODB_URI=mongodb://localhost:27017/test

SESSION_SECRET=

MAILGUN_USER=
MAILGUN_PASSWORD=

SENDGRID_API_KEY=

SENDGRID_USER=
SENDGRID_PASSWORD=

NYT_KEY=

LASTFM_KEY=
LASTFM_SECRET=

SNAPCHAT_ID=test_123
SNAPCHAT_SECRET=test_123

FACEBOOK_ID=
FACEBOOK_SECRET=

INSTAGRAM_ID=
INSTAGRAM_SECRET=

GITHUB_ID=
GITHUB_SECRET=

TWITTER_KEY=
TWITTER_SECRET=

GOOGLE_ID=
GOOGLE_SECRET=

LINKEDIN_ID=
LINKEDIN_SECRET=

STEAM_KEY=

TWILIO_SID=
TWILIO_TOKEN=

CLOCKWORK_KEY=

STRIPE_SKEY=sk_test_123
STRIPE_PKEY=pk_test_123

TUMBLR_KEY=
TUMBLR_SECRET=

FOURSQUARE_ID=
FOURSQUARE_SECRET=
FOURSQUARE_REDIRECT_URL=

PAYPAL_ID=
PAYPAL_SECRET=
PAYPAL_RETURN_URL=
PAYPAL_CANCEL_URL=

LOB_KEY=test_123

PINTEREST_ID=
PINTEREST_SECRET=
PINTEREST_REDIRECT_URL=

GOOGLE_MAP_API_KEY=

HERE_APP_ID=
HERE_APP_CODE=

ALPHA_VANTAGE_KEY=

QUICKBOOKS_CLIENT_ID=
QUICKBOOKS_CLIENT_SECRET=

TWITCH_CLIENT_ID=test_123
TWITCH_CLIENT_SECRET=test_123

# Missing required envs
CLOCKWORK_KEY=123
